html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    background-attachment: fixed;
    
}
.logo{
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.navigation{
    top:0;
    left: 0;
}


.navbar {
    /* background-color: black; */
    /* position: fixed; */
    /* z-index: 10; */
    width: 100%;
    top: 0;
    left: 0;
    /* backdrop-filter: blur(4px);  */
    /* box-shadow: 1px deepskyblue; */
}

.navbar ul {
    overflow: auto;
    /* float: right; */
}

.navbar li {
    float: left;
    list-style-type: none;
    margin: 18px 12px;
    padding-top: 1px;
}
.navbar li a:hover{
    border: 1.5px solid white;
    border-radius: 8px 0px 4px 0px;
    box-shadow: 0px 0px 20px rgb(118, 145, 154);
    transition: ease-i-out,0.2s;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    border: 1.5px solid transparent;
    font-family: varino;
    padding: 6px 6px;
    color: aliceblue;
}
.navbar .navitems{
    margin-top: 25px;
}

.search{
    float: right;
    padding: 10px 25px;
}

.search input {
    /* border: transparent;
    padding: 6px 8px;
    width: 130px;
    border: 1.4px solid rgb(82, 183, 223);
    border-style: groove;
 */
 background-color: rgba(48, 63, 72, 0.9);
 color: aliceblue;
 font-size: 15px;
 width: 200px;
 height: 30px;
  margin-top: 8px;
 /*margin-left: 20px; */
 border-radius: 4px;
 box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.2);
 border-color: transparent;

}
.container{
    height: 80hv;
    padding: 20px;
    /* overflow: scroll; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.content{
    background-color: rgba(232, 232, 232, 0.5);
    backdrop-filter: blur(4px);
    /* display: inline-block; */
    box-sizing: border-box;
    /* Remove margin property for responsive design */
    /* margin: 50px;
    margin-bottom: 2px; */
    margin-top: 8px;
    width: 30rem;
    height: 35rem;
    padding:20px;
    color: aliceblue;
    font-size: 30px;
    overflow: auto;
}
.content:hover{
    box-shadow: 0px 0px 10px rgb(118, 145, 154);
    backdrop-filter: blur(8px);
    transition: ease-in-out,0.25s;
}
.content p{
    margin: 10px;
    font-weight:lighter;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: helvetica;
}
.content{
    /* overflow-y: scroll; */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.content h6{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.content form p{
    font-size: 20px;
    /* font-weight: bold; */
    text-align: left;
}
.content form input{
    width: 192px;
	height: 20px;
	border-radius: 4px;
    border-color: transparent;
    outline: none;
}
.content form #submitApplication{
   
    background-color: rgba(20, 28, 33,0.8);
    color: aliceblue;
    font-size: 15px;
    width: 100px;
	height: 30px;
    margin-top: 20px;
    margin-left: 20px;
	border-radius: 4px;
    box-shadow: inherit;
    border-color: transparent;
    cursor: pointer;
}
.content form #submitApplication:hover{
    background-color: rgba(20, 28, 33,1.0);
}

/* Footer Styling */

#foot{
    background: rgba(157, 154, 154, 0.6);
    margin-top: 20vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
#foot .footitems{
    color: white;
    font-size: large;
    width: 20rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#foot .footitems h3{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 8px black;
}

#foot .footitems img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#foot .footitems img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 4px rgb(0, 0, 0);
    transition: all,0.5s;
}



@media only screen and (max-width:565px) {
    .navbar ul input{
        width: auto;

    }
     
    .navbar ul{ 
        padding: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .navbar li {
        /* justify-content: center; */
        float:none;
        list-style-type: none;
        margin: 18px 12px;
        padding-top: 1px;
    }
    .content h6{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.content form p{
    
    font-weight: bold;
    text-align: left;
}
    
}
